.bg-kupfer-gradient {
  background: rgb(120,61,47);
  background: linear-gradient(42deg, rgba(120,61,47,1) 6%, rgba(201,103,74,1) 16%, rgba(255,214,214,1) 29%, rgba(252,176,69,1) 41%, rgba(137,67,65,1) 66%, rgba(131,56,0,1) 76%, rgba(120,61,47,1) 85%, rgba(94,43,40,1) 100%);
}

:root {
  --codeblock-padding: 0.7em;
}

@media not print {
  body[data-theme="dark"] {
    --text-color: #fff;
    --text-faint: #383838;
    --link-color: #eba38d;
    --link-hover-color: #ffbd9f;
    --monospace-color: #ff7564;
    --monospace-bg: #2a2a2a;
    --logo-img: url('/assets/img/logo/kupfer-white-transparent.svg');
    --bg-color: #1a1c1e;
    color: var(--text-color);
    background: var(--bg-color);
  }
}

/* light theme */
body {
  --text-color: #000;
  --text-faint: #c7c7c7;
  --monospace-color: #882a1a;
  --link-color: #ff7564;
  --link-hover-color: #ffbd9f;
  --monospace-bg: #e9e9e9;
  --bg-color: #f9f9f9;
  --logo-img: url('/assets/img/logo/kupfer-black-transparent.svg');
  color: var(--text-color);
  background: var(--bg-color);
  -webkit-text-size-adjust: auto;
}

a {
  color: var(--link-color);
}

a:hover, .theme-icon:hover > *{
  color: var(--link-hover-color);
}

a.headerlink {
  font-size: 0.75em;
  color: var(--text-faint);
  padding-left: 0.5em;
}

.highlight {
  background: none;
}

code {
  color: var(--monospace-color);
  background: var(--monospace-bg);
  padding: 1.5px;
}

pre code {
  color: var(--text-color);
  display: block;
  padding: var(--codeblock-padding);
}

.linenodiv > pre {
  --linenum-padding: 0.7em;
  background: var(--text-faint);
  color: var(--text-color);
  padding-left: var(--linenum-padding);
  padding-right: var(--linenum-padding);
  text-align: right;
  font-weight: lighter;
  padding-top: 1em;
  padding-bottom: 1em;
  padding: var(--codeblock-padding);
}

.toc {
  --toc-padding-sides: 0.9em;
  color: var(--text-color);
  background: var(--monospace-bg);
  padding-top: 0.7em;
  padding-bottom: 0.1em;
  padding-left: var(--toc-padding-sides);
  padding-right: var(--toc-padding-sides);
  margin: 0.5em;
  border-radius: 0.25em;
  border-color: var(--text-faint);
  border-width: 0.1em;
  border-style: solid;
}

.toctitle {
  font-weight: bold;
}

.kupfer-quote {
  font-style: italic;
  transition: display 1s;
}

.kupfer-quote-joke {
  font-family: "Comic Sans MS", "Comic Sans", "Comic Mono", "Comic", cursive;
  display: none;
}

.navbar {
  padding: 0;
  padding-left: .5rem;
  font-size: 1.2rem;
}

.navbar * {
  color: var(--text-color);
}

.navbar * > .active {
  font-weight: bold;
}

.kupfer-logo {
  background-image: var(--logo-img);
  --logo-height: 2em;
  height: var(--logo-height);
  width: var(--logo-height);
  background-size: 100%;
}

blockquote {
  background: var(--monospace-bg);
  color: var(--text-color);
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: var(--text-color);
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

.footer {
  font-size: 0.7em;
}

.page-link:hover {
  background: var(--link-hover-color);
  color: var(--text-color);
}

.page-item.active .page-link {
  background-color: var(--link-color);
  color: var(--text-color);
}

.page-link, .page-link .page-item {
  border-color: var(--text-color);
  color: var(--text-color);
  background-color: var(--monospace-bg);
  border: none;
}

.page-item.disabled .page-link {
  background-color: var(--text-faint);
  color: white;
}

border, .table-responsive > .table {
  border-color: var(--text-color) !important;
}

.table, table.dataTable {
  background-color: var(--bg-color) !important;
  color: var(--text-color) !important;
}

.dataTables_scrollBody > table.dataTable > tbody > tr {
  background-color: var(--monospace-bg);
}

.form-control::placeholder, div.dtsp-panesContainer div.dataTables_wrapper div.dataTables_scrollBody {
  color: var(--text-color);
  background-color: var(--monospace-bg) !important;
}

button, .btn, .btn:before, select, input, input:focus, table.dataTable td.dt-control:before, .form-control {
  color: var(--text-color);
  background: var(--monospace-bg);
}

.btn:hover, dtsp-topRow div .btn-group .btn:hover {
  background-color: var(--link-hover-color) !important;
}

.dtsp-topRow div .btn-group .btn, .dtsp-searchIcon {
  color: black;
  background-color: var(--link-color);
}


table.dataTable > tbody > tr.selected > *, table.dataTable.hover > tbody > tr.selected:hover > * {
  box-shadow: inset 0 0 0 9999px var(--link-color);
}

.dataTables_wrapper select:focus,.dataTables_wrapper input:focus {
  color: var(--text-color);
  background-color: var(--monospace-bg);
  border-color: var(--link-hover-color);
}

@media (max-width: 992px) {
  .container-body {
    padding: unset;
    margin: unset;
  }
}

.table-striped tbody tr:nth-of-type(2n+1) {
  background-color: var(--monospace-bg) !important;
}

.table-responsive {
  border: inherit;
}

/* stolen from the furo sphinx theme */

.theme-icon {
  display: none;
  color: var(--text-color);
  display: none;
  height: 1rem;
  width: 1rem;
  vertical-align: middle;
}

.theme-toggle-container {
  vertical-align: middle;
}

.theme-toggle-container *:focus, .navbar-toggler:focus {
  outline: 0 !important;
}

.theme-toggle {
  cursor: pointer;
  border: none;
  padding: 0;
  background: transparent;
}

.theme-toggle-header {
  float: left;
  padding: 1rem 0.5rem;
}

body[data-theme-choice="auto"] .theme-toggle svg.theme-icon-when-auto, body[data-theme-choice="dark"] .theme-toggle svg.theme-icon-when-dark, body[data-theme-choice="light"] .theme-toggle svg.theme-icon-when-light {
  display: block;
}

/* furo end */

/*------------------------------------
 - COLOR kupfer: #c9674a https://lingtalfi.com/bootstrap4-color-generator
 ------------------------------------*/
.alert-kupfer {
  color: #753523;
  background-color: #f7eae7;
  border-color: #f3ddd7;
}
.alert-kupfer hr {
  border-top-color: #edcdc3;
}
.alert-kupfer .alert-link {
  color: #4e2317;
}
.badge-kupfer {
  color: #212529;
  background-color: #c9674a;
}
.badge-kupfer[href]:hover, .badge-kupfer[href]:focus {
  color: #212529;
  background-color: #ac4f33;
}
.bg-kupfer {
  background-color: #c9674a !important;
}
a.bg-kupfer:hover, a.bg-kupfer:focus, button.bg-kupfer:hover, button.bg-kupfer:focus {
  background-color: #ac4f33 !important;
}
.border-kupfer {
  border-color: #c9674a !important;
}
.btn-kupfer {
  color: #212529;
  background-color: #c9674a;
  border-color: #c9674a;
}
.btn-kupfer:hover {
  color: #212529;
  background-color: #b85436;
  border-color: #ac4f33;
}
.btn-kupfer:focus, .btn-kupfer.focus {
  box-shadow: 0 0 0 0.2rem rgba(201, 103, 74, 0.5);
}
.btn-kupfer.disabled, .btn-kupfer:disabled {
  color: #212529;
  background-color: #c9674a;
  border-color: #c9674a;
}
.btn-kupfer:not(:disabled):not(.disabled):active, .btn-kupfer:not(:disabled):not(.disabled).active, .show > .btn-kupfer.dropdown-toggle {
  color: #212529;
  background-color: #ac4f33;
  border-color: #a0492f;
}
.btn-kupfer:not(:disabled):not(.disabled):active:focus, .btn-kupfer:not(:disabled):not(.disabled).active:focus, .show > .btn-kupfer.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(201, 103, 74, 0.5);
}
.btn-outline-kupfer {
  color: #c9674a;
  background-color: transparent;
  border-color: #c9674a;
}
.btn-outline-kupfer:hover {
  color: #212529;
  background-color: #c9674a;
  border-color: #c9674a;
}
.btn-outline-kupfer:focus, .btn-outline-kupfer.focus {
  box-shadow: 0 0 0 0.2rem rgba(201, 103, 74, 0.5);
}
.btn-outline-kupfer.disabled, .btn-outline-kupfer:disabled {
  color: #c9674a;
  background-color: transparent;
}
.btn-outline-kupfer:not(:disabled):not(.disabled):active, .btn-outline-kupfer:not(:disabled):not(.disabled).active, .show > .btn-outline-kupfer.dropdown-toggle {
  color: #212529;
  background-color: #c9674a;
  border-color: #c9674a;
}
.btn-outline-kupfer:not(:disabled):not(.disabled):active:focus, .btn-outline-kupfer:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-kupfer.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(201, 103, 74, 0.5);
}
.list-group-item-kupfer {
  color: #753523;
  background-color: #f3ddd7;
}
.list-group-item-kupfer.list-group-item-action:hover, .list-group-item-kupfer.list-group-item-action:focus {
  color: #753523;
  background-color: #edcdc3;
}
.list-group-item-kupfer.list-group-item-action.active {
  color: #212529;
  background-color: #753523;
  border-color: #753523;
}
.table-kupfer, .table-kupfer > th, .table-kupfer > td {
  background-color: #f3ddd7;
}
.table-hover .table-kupfer:hover {
  background-color: #edcdc3;
}
.table-hover .table-kupfer:hover > td, .table-hover .table-kupfer:hover > th {
  background-color: #edcdc3;
}
.text-kupfer {
  color: #c9674a !important;
}
a.text-kupfer:hover, a.text-kupfer:focus {
  color: #ac4f33 !important;
}
/*------------------------------------
 - COLOR kupfer-dark: #894341
 ------------------------------------*/
.alert-kupfer-dark {
  color: #351a19;
  background-color: #ddb9b8;
  border-color: #d6abaa;
}
.alert-kupfer-dark hr {
  border-top-color: #ce9a99;
}
.alert-kupfer-dark .alert-link {
  color: #130909;
}
.badge-kupfer-dark {
  color: #fff;
  background-color: #894341;
}
.badge-kupfer-dark[href]:hover, .badge-kupfer-dark[href]:focus {
  color: #fff;
  background-color: #663230;
}
.bg-kupfer-dark {
  background-color: #894341 !important;
}
a.bg-kupfer-dark:hover, a.bg-kupfer-dark:focus, button.bg-kupfer-dark:hover, button.bg-kupfer-dark:focus {
  background-color: #663230 !important;
}
.border-kupfer-dark {
  border-color: #894341 !important;
}
.btn-kupfer-dark {
  color: #fff;
  background-color: #894341;
  border-color: #894341;
}
.btn-kupfer-dark:hover {
  color: #fff;
  background-color: #703735;
  border-color: #663230;
}
.btn-kupfer-dark:focus, .btn-kupfer-dark.focus {
  box-shadow: 0 0 0 0.2rem rgba(137, 67, 65, 0.5);
}
.btn-kupfer-dark.disabled, .btn-kupfer-dark:disabled {
  color: #fff;
  background-color: #894341;
  border-color: #894341;
}
.btn-kupfer-dark:not(:disabled):not(.disabled):active, .btn-kupfer-dark:not(:disabled):not(.disabled).active, .show > .btn-kupfer-dark.dropdown-toggle {
  color: #fff;
  background-color: #663230;
  border-color: #5c2d2b;
}
.btn-kupfer-dark:not(:disabled):not(.disabled):active:focus, .btn-kupfer-dark:not(:disabled):not(.disabled).active:focus, .show > .btn-kupfer-dark.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(137, 67, 65, 0.5);
}
.btn-outline-kupfer-dark {
  color: #894341;
  background-color: transparent;
  border-color: #894341;
}
.btn-outline-kupfer-dark:hover {
  color: #fff;
  background-color: #894341;
  border-color: #894341;
}
.btn-outline-kupfer-dark:focus, .btn-outline-kupfer-dark.focus {
  box-shadow: 0 0 0 0.2rem rgba(137, 67, 65, 0.5);
}
.btn-outline-kupfer-dark.disabled, .btn-outline-kupfer-dark:disabled {
  color: #894341;
  background-color: transparent;
}
.btn-outline-kupfer-dark:not(:disabled):not(.disabled):active, .btn-outline-kupfer-dark:not(:disabled):not(.disabled).active, .show > .btn-outline-kupfer-dark.dropdown-toggle {
  color: #fff;
  background-color: #894341;
  border-color: #894341;
}
.btn-outline-kupfer-dark:not(:disabled):not(.disabled):active:focus, .btn-outline-kupfer-dark:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-kupfer-dark.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(137, 67, 65, 0.5);
}
.list-group-item-kupfer-dark {
  color: #351a19;
  background-color: #d6abaa;
}
.list-group-item-kupfer-dark.list-group-item-action:hover, .list-group-item-kupfer-dark.list-group-item-action:focus {
  color: #351a19;
  background-color: #ce9a99;
}
.list-group-item-kupfer-dark.list-group-item-action.active {
  color: #fff;
  background-color: #351a19;
  border-color: #351a19;
}
.table-kupfer-dark, .table-kupfer-dark > th, .table-kupfer-dark > td {
  background-color: #d6abaa;
}
.table-hover .table-kupfer-dark:hover {
  background-color: #ce9a99;
}
.table-hover .table-kupfer-dark:hover > td, .table-hover .table-kupfer-dark:hover > th {
  background-color: #ce9a99;
}
.text-kupfer-dark {
  color: #894341 !important;
}
a.text-kupfer-dark:hover, a.text-kupfer-dark:focus {
  color: #663230 !important;
}


/*------------------------------------
 - COLOR kupfer-darker #783d2f
 ------------------------------------*/
.alert-kupfer-darker {
  color: #20100c;
  background-color: #d7a69b;
  border-color: #d2998c;
}
.alert-kupfer-darker hr {
  border-top-color: #ca897a;
}
.alert-kupfer-darker .alert-link {
  color: #000000;
}
.badge-kupfer-darker {
  color: #fff;
  background-color: #783d2f;
}
.badge-kupfer-darker[href]:hover, .badge-kupfer-darker[href]:focus {
  color: #fff;
  background-color: #532a20;
}
.bg-kupfer-darker {
  background-color: #783d2f !important;
}
a.bg-kupfer-darker:hover, a.bg-kupfer-darker:focus, button.bg-kupfer-darker:hover, button.bg-kupfer-darker:focus {
  background-color: #532a20 !important;
}
.border-kupfer-darker {
  border-color: #783d2f !important;
}
.btn-kupfer-darker {
  color: #fff;
  background-color: #783d2f;
  border-color: #783d2f;
}
.btn-kupfer-darker:hover {
  color: #fff;
  background-color: #5e2f24;
  border-color: #532a20;
}
.btn-kupfer-darker:focus, .btn-kupfer-darker.focus {
  box-shadow: 0 0 0 0.2rem rgba(120, 61, 47, 0.5);
}
.btn-kupfer-darker.disabled, .btn-kupfer-darker:disabled {
  color: #fff;
  background-color: #783d2f;
  border-color: #783d2f;
}
.btn-kupfer-darker:not(:disabled):not(.disabled):active, .btn-kupfer-darker:not(:disabled):not(.disabled).active, .show > .btn-kupfer-darker.dropdown-toggle {
  color: #fff;
  background-color: #532a20;
  border-color: #48241c;
}
.btn-kupfer-darker:not(:disabled):not(.disabled):active:focus, .btn-kupfer-darker:not(:disabled):not(.disabled).active:focus, .show > .btn-kupfer-darker.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(120, 61, 47, 0.5);
}
.btn-outline-kupfer-darker {
  color: #783d2f;
  background-color: transparent;
  border-color: #783d2f;
}
.btn-outline-kupfer-darker:hover {
  color: #fff;
  background-color: #783d2f;
  border-color: #783d2f;
}
.btn-outline-kupfer-darker:focus, .btn-outline-kupfer-darker.focus {
  box-shadow: 0 0 0 0.2rem rgba(120, 61, 47, 0.5);
}
.btn-outline-kupfer-darker.disabled, .btn-outline-kupfer-darker:disabled {
  color: #783d2f;
  background-color: transparent;
}
.btn-outline-kupfer-darker:not(:disabled):not(.disabled):active, .btn-outline-kupfer-darker:not(:disabled):not(.disabled).active, .show > .btn-outline-kupfer-darker.dropdown-toggle {
  color: #fff;
  background-color: #783d2f;
  border-color: #783d2f;
}
.btn-outline-kupfer-darker:not(:disabled):not(.disabled):active:focus, .btn-outline-kupfer-darker:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-kupfer-darker.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(120, 61, 47, 0.5);
}
.list-group-item-kupfer-darker {
  color: #20100c;
  background-color: #d2998c;
}
.list-group-item-kupfer-darker.list-group-item-action:hover, .list-group-item-kupfer-darker.list-group-item-action:focus {
  color: #20100c;
  background-color: #ca897a;
}
.list-group-item-kupfer-darker.list-group-item-action.active {
  color: #fff;
  background-color: #20100c;
  border-color: #20100c;
}
.table-kupfer-darker, .table-kupfer-darker > th, .table-kupfer-darker > td {
  background-color: #d2998c;
}
.table-hover .table-kupfer-darker:hover {
  background-color: #ca897a;
}
.table-hover .table-kupfer-darker:hover > td, .table-hover .table-kupfer-darker:hover > th {
  background-color: #ca897a;
}
.text-kupfer-darker {
  color: #783d2f !important;
}
a.text-kupfer-darker:hover, a.text-kupfer-darker:focus {
  color: #532a20 !important;
}
