{% extends '_base.html' %}

{% block extra_css %}
<link href="{{assets}}/datatables/datatables.min.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{{assets}}/datatables/datatables.min.js"></script>
{% endblock %}

{% set json_file = 'templates/%s/meta.json' % (('' | currentpath).split('/')[0]) %}
{% block body_suffix %}
<p class="footer">
Generated {{ (json_file | json_loader(true, {'timestamp': none})).timestamp | format_epoch }} (UTC)
</p>
{% endblock %}
