{% extends '_generated.html.j2' %}
{% import '_lists.html.j2' as list_macros %}
{% import 'devices/_devices.html.j2' as device_macros %}

{% set filepath = ('' | currentpath()) %}
{% set branch, name = filepath.rsplit('.html', 1)[0].rsplit('/')[-2:] %}
{% set devices = (('templates/devices/%s/devices.json' % branch) | json_loader(true, {}) ) %}

{% block body %}
<h1>Device {{name}}</h1>
Branch: <b><a href="index.html">{{branch}}</a></b>
{{ list_macros.details_list(devices[name], device_macros.field_mappings, device_macros.format_strings, branch, devices[name].arch, src_dir=filepath|dirname) }}
{% endblock body %}
