{% extends '_generated.html.j2' %}
{% import 'packages/_packages.html.j2' as package_macros %}

{% set parent_path = '' | currentpath() | dirname %}
{% set stats = ('templates/%s/stats_branches.json' % parent_path) | json_loader(true, {}) %}

{% set branches = stats.keys() %}

{% set branch_packages = {} %}
{% set packages = [] %}
{% for branch in branches %}
{% do branch_packages.update({branch: ('templates/%s/%s/branch_flat.json' % (parent_path, branch)) | json_loader(true, []) }) %}
{% if branch_packages[branch] %}
{% for pkg in branch_packages[branch] %}{% do packages.append(pkg) %}{% endfor %}
{% endif %}
{% endfor %}
{% set mappings = dict(package_macros.overview_mappings) %}
{% do mappings.pop("Distro") and mappings.update({"Branch": "repo_branch", "Distro": "distro"}) %}
{% block body %}
<h1><b>All</b> Packages</h1>
{{packages|count}} packages.<br>
<b>Packages are best viewed through their branch:</b>
<ul>
{% for branch, branch_stats in stats.items() %}
  <li><a href="{{branch}}/index.html">{{branch}} branch, {{branch_stats.arches | count}} architectures, {{branch_stats.packages}} packages</a></li>
{% endfor %}
</ul>
{% if packages %}
{{ package_macros.overview_table(packages, branch=branch, src_dir=parent_path, mappings=mappings) }}
{% else %}
<h2>Error: no packages found.</h2>
Seems like the export didn't work. :/
{% endif %}


{% endblock %}
