{% extends '_generated.html.j2' %}
{% import '_lists.html.j2' as list_macros %}
{% import 'packages/_packages.html.j2' as package_macros %}

{% macro displaysize(size) %}{{size | format_bytes_human}} ({{size}} bytes){% endmacro %}

{% set parent_path, package_name = ('' | currentpath()).rsplit('.html', 1)[0].rsplit('/', 1) %}
{% set arch = parent_path | dirname | basename %}
{% set branch = parent_path | dirname(2) | basename %}
{% set package = ('templates/%s/%s.json' % (parent_path, package_name)) | json_loader(true, {}) %}
{% set updates = ({
    'BUILDDATE': (package.get('BUILDDATE', none) | format_epoch) + ' (UTC)',
    'ISIZE': displaysize(package['ISIZE']) if 'ISIZE' in package else '-',
    'CSIZE': displaysize(package['CSIZE']) if 'CSIZE' in package else '-',
}) %}
{% set package = package | merge_dicts(updates) %}

{% block body %}
<h1>Package "{{package_name}}"</h1>
{% set branch_url = ('packages/%s'%branch)|relpath_to %}
Branch: <b><a href="{{branch_url}}/index.html">{{branch}}</a></b>, Arch: <b><a href="{{branch_url}}/{{arch}}/index.html">{{arch}}</a></b>, Repository: <b><a href="{{branch_url}}/{{arch}}/{{package.repo_name}}/index.html">{{package.repo_name}}</a></b>
{{ list_macros.details_list(package, package_macros.detail_mappings, package_macros.detail_format_strings, branch, src_dir=(''|currentpath()|dirname)) }}
{% endblock %}
